* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Imagenes/Foto_1.png);
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 25px;
    color: palevioletred;
    background-color: white;
    border-bottom: 1px solid;
    border-color: palevioletred;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

#galeria {
    display: flex;
    justify-content: space-around;
}

#div_dos {
    margin-top: 40px;
}

#one {
    width: 280px;
}

#two {
    width: 300px;
    margin: 0px;
}

#three {
    width: 300px;
}

#four {
    height: 210px;
}

#five {
    width: 317px;
}

#six {
    width: 275px;
    height: 210px;
}

#seven {
    width: 320px;
}

.foto {
    border-radius: 10px;
}

img:hover {
    border: 2px solid white;
    cursor: pointer;
    transform: scale(1.1);
}
